.abc{
  /* background-color: darkslateblue; */
  text-align: center;
}

.main{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  padding-bottom: 2rem;
}

.textSize{
  font-size: 0.8rem;
}
.special{
  text-align: justify;
  padding: 0 4rem;
  font-style: italic;
}

.textarea_style{
  border: 1px solid black;
}

.textarea_style:hover{
  /* box-shadow: black; */
  background-color: yellow;
}

